*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

#nav_logo_link {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

#nav_toggle {
  span {
    display: block;
    width: 1.5rem;
    height: 2px;
    margin: 5px auto;
    background-color: #444;
    transition: all 0.3s ease-in-out;
  }
}

.nav-open {
  #nav_toggle {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}
